.header {
  text-align: center;
  color: darkblue;
  font-family: "Inter";
  align-items: center;
}
.header img {
  border: 2px solid black;
  border-radius: 5px;
}

.header #ubuntu {
  border: none;
  height: 35px;
  margin: 0 auto;
}
